@model string

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Index", "CEP", FormMethod.Get))
{
    <form>
        <div class="form-group col-md-6">
            <label class="control-label">Buscar por CEP</label>
            <br>
            @Html.TextBox("cep")
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
}
@using (Html.BeginForm("Index", "Logradouro", FormMethod.Get))
{
    <form>
        <div class="form-group col-md-6">
            <label class="control-label">Buscar por Logradouro na base de dados</label>
            <br>
            @Html.TextBox("logradouro")
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
}